{% extends 'account/base.html' %}
{% load static %}
{% load account socialaccount %}
{% load i18n %}

{% block title %}
    Gaming Corner - Sign In
{% endblock %}

{% block content %}

    <div class="container" id="loginContainer">

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
            <h3>Please sign in with one of your third-party social account</h3>
            <br/>
            <div class="socialaccount_ballot">
                <ul class="socialaccount_providers">
                    <li id="google_login"><a href="#">Google (Locked in Beta)</a></li>
                    <li id="facebook_login"><a href="#">Facebook (Locked in Beta)</a></li>
                </ul>
            </div>
        {% endif %}

        <h6>{% trans 'or' %}</h6>

        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><label for="id_emailInput"></label>
                <input class="form-control" id="id_emailInput" type="text" name="login" placeholder="Username or Email"
                       required/></div>
            <div class="form-group">
                <label for="id_passwordInput"></label>
                <input class="form-control" id="id_passwordInput" type="password" name="password" placeholder="Password"
                       required/>
            </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="form-group">
                <button class="btn btn-outline-success signin-button" type="submit">Sign In</button>
            </div>
            <a class="forgot" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </form>
        <br/>

        <h5>{% blocktrans %}
            New to Gaming Corner? <a href="{{ signup_url }}">Sign Up</a> to continue.
        {% endblocktrans %}</h5>
    </div>
{% endblock %}