{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    Gaming Corner - Sign Up
{% endblock %}
{% block content %}
    <div class="container" id="signupContainer">
        <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <h2 class="text-center"><strong>Create</strong> an account.</h2>
            <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                       required/>
            </div>
            <div class="form-group">
                <label for="password"></label>
                <input type="password" class="form-control" id="password" name="password1" placeholder="Password"
                       required/>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" required/>I agree to the license terms.
                    </label>
                </div>
            </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">{% trans "Sign Up" %}</button>
            </div>
            {% blocktrans %}<a class="already" href="{{ login_url }}">
                You already have an account? Sign In instead.</a>{% endblocktrans %}
        </form>
    </div>

{% endblock %}