{% extends 'base.html' %}
{% load static %}

{% block title %}
    Gaming Corner - Browse
{% endblock %}

{% block content %}
    <form class="form-inline mr-auto" action="{% url 'browse' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Game" aria-label="Search"
                   name="game_name">
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br/><br/>
    {% if query %}
        {% if query == "Error" %}
            <h1>Not Such Tournament Exists</h1>
        {% else %}
            {% for i in query %}
                <li><a href="{% url 'details' i.id %}">{{ i }}</a></li><br/>
            {% endfor %}
        {% endif %}
    {% else %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Discipline</th>
                <th scope="col">Slots</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            {% for tournament in tournaments %}
                <tr>
                    <th scope="row">{{ tournament.name }}</th>
                    <td>{{ tournament.discipline }}</td>
                    <td>
                        {% if tournament.is_team is False %}
                            {{ tournament.size }} Players
                        {% else %}
                            {{ tournament.size }} Teams
                        {% endif %}
                    </td>
                    <td><a href="{% url 'details' tournament.id %}" id="goArrow">
                        <img src="https://img.icons8.com/fluent/35/000000/right.png" alt="goicon"/>
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}