{% extends 'base.html' %}
{% load static %}

{% block title %}
    Gaming Corner - Browse
{% endblock %}

{% block content %}
    {% if joinable_tournaments %}
        <form class="form-inline mr-auto" action="{% url 'browse' %}" method="get">
            <div class="form-group">
                <input class="form-control mr-sm-2 search-box" type="search" placeholder="Search Game" aria-label="Search"
                       name="q">
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0 search-button" type="submit">Search</button>
        </form>
    {% endif %}
    <br/><br/>
    {% if queryset_list %}
        {% if queryset_list == "Error" %}
            <h1>Not Such Tournament Exists</h1>
        {% else %}
            {% for i in queryset_list %}
                <li><a href="{% url 'details' i.id %}">{{ i }}</a></li><br/>
            {% empty %}
                <h1>Not Such Tournament Exists</h1>
            {% endfor %}
        {% endif %}
    {% else %}
        {% if joinable_tournaments %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Discipline</th>
                    <th scope="col">Slots</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                {% for joinable_tournament in joinable_tournaments %}
                    {% if not joinable_tournament.remaining_slots == 0 %}
                    <tr>
                        <th scope="row">{{ joinable_tournament.name }}</th>
                        <td>{{ joinable_tournament.discipline }}</td>
                        <td>
                            {% if joinable_tournament.is_team is False %}
                                {{ joinable_tournament.remaining_slots }}/{{ joinable_tournament.size }} Players
                            {% else %}
                                {{ joinable_tournament.remaining_slots }}/{{ joinable_tournament.size }} Teams
                            {% endif %}
                        </td>
                        <td><a href="{% url 'details' joinable_tournament.id %}" id="goArrow">
                            <img src="{% static 'images/right.png' %}" alt="goicon"/>
                        </a></td>
                    </tr>
                    {% endif %}
                {% empty %}
                    <h1>No tournaments are currently open for registration.</h1>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1>There are no tournaments currently running. You can <a href="{% url 'organize_tournament' %}">Organize</a>
                your own tournament.</h1>
        {% endif %}
    {% endif %}

    <script src="{% static 'js/browse.js' %}"></script>
{% endblock %}