{% extends 'base.html' %}
{% load static %}

{% block title %}
    Gaming Corner - Browse
{% endblock %}

{% block content %}
    <form class="form-inline mr-auto" action="{% url 'browse' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Game" aria-label="Search"
                   name="game_name">
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br/><br/>
    {% if query %}
        {% if query == "Error" %}
            <h1>Not Such Tournament Exists</h1>
        {% else %}
            {% for i in query %}
                <a href="{% url 'about' %}">{{ i }}</a><br/>
            {% endfor %}
        {% endif %}
    {% else %}
        {% if user.is_authenticated %}
            <strong>Hello {{ user.username }}</strong>
        {% endif %}<br/><br/>
        <div class="card-deck">
            {% for tournament in tournaments %}
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'images/pubgblack.jpg' %}" alt="pubg">
                    <div class="card-body">
                        <h5 class="card-title">{{ tournament }}</h5>
                        {% if tournament.is_team is not False %}
                            Teams: {{ tournament.size }}
                        {% else %}
                            Players: {{ tournament.size }}
                        {% endif %}
                        <p>Created at: {{ tournament.date_time }}</p>
                        <a href="{% url 'register' tournament.id %}" class="btn btn-outline-primary">Register</a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"4" %}
                    </div><br/>
                    <div class="card-deck">
                {% endif %}
            {% endfor %}
            </div>
    {% endif %}
{% endblock %}