{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    Gaming Corner - Tournament Details
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="container">
            <div class="select2-container">
                <h1>{{ tournament.name }}</h1><br/>
            </div>
            <h2>Description</h2>
            <div class="card">
                <div class="card-body" id="detailDescription">
                    <p>{{ tournament.description }}</p>
                </div>
            </div>
            <br/>
            <div class="row1">
                <h2>Remaining Slots</h2>
                {% if tournament.is_team is False %}
                    <h5>{{ tournament.remaining_slots }} Players</h5>
                {% else %}
                    <h5>{{ tournament.remaining_slots }} Teams</h5>
                {% endif %}
            </div>
            <div>
                <strong>Organized by: {{ tournament.organizer }}</strong>
            </div>
            <br/>

        {% if registered_user != "Error" %}
            <h3>You have already registered for this tournament. Please contact your organizer
            for further details about the match.</h3>
        {% else %}
            <div class="button">
                <a class="btn btn-outline-success" id="joinButton" href="{% url 'join' tournament.id %}"
                   role="button">Join</a>
            </div>
        {% endif %}
        </div>

    {% else %}
        <h3>You must <a href="{% url 'account_login' %}">Sign In</a> first</h3>
    {% endif %}

{% endblock %}
