{% extends 'base.html' %}

{% block title %}
    Gaming Corner - My Tournaments
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Hello {{ user }}</h3><br/>

        {% if tournaments %}
            {% for tournament in tournaments %}
                <li>{{ tournament }} <a href="{% url 'delete' tournament.id %}">Delete</a></li><br/>
            {% endfor %}
        {% else %}
            <h2>You haven't organised any tournament yet.</h2><br/>
            <h4><a href="{% url 'organize_tournament' %}">Organize</a> your first tournament.</h4>
        {% endif %}
    {% endif %}
{% endblock %}