{% extends 'base.html' %}
{% load static %}

{% block title %}
    Gaming Corner - My Tournaments
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Your Tournaments</h1><br/>
        {% if organized_tournaments %}
            <h2>Organized Tournaments</h2>
            {% for tournament in organized_tournaments %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-secondary">
                        <h5>{{ tournament }}</h5>
                        <p>Created On: {{ tournament.start_time }}</p>
                        <p>Registration open till {{ tournament.end_time }}</p>
                        <span><a class="btn btn-outline-danger" role="button" href="{% url 'delete' tournament.id %}">
                            Remove
                        </a> </span>
                    </li>
                </ul><br/>
            {% endfor %}
        {% else %}
            <h2>You haven't organised any tournament yet.</h2><br/>
            <h4><a href="{% url 'organize_tournament' %}">Organize</a> your first tournament.</h4>
        {% endif %}

        {% if participated_tournaments %}
            <h2>Participated Tournaments</h2>
            {% for tournament in participated_tournaments %}
                <li>{{ tournament }}</li>
            {% endfor %}

        {% else %}
            <h2>You haven't participated in any tournament yet.
            <a href="{% url 'browse' %}">Browse</a> tournaments to join. </h2>
        {% endif %}
    {% endif %}
{% endblock %}