{% extends 'base.html' %}
{% load static %}

{% block title %}
    Gaming Corner - Register
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="container" id="tournamentDescription">
            <h1>{{ tournament.name }}</h1>
            <h3>Discipline: {{ tournament.discipline }}</h3>
            <h3>Description: {{ tournament.description }}</h3>
            <h4>Organized By: {{ tournament.organizer }}</h4>
            {% if tournament.is_team is not False %}
                <h4>Teams: {{ tournament.size }}</h4>
            {% else %}
                <h4>Players: {{ tournament.size }}</h4>
            {% endif %}
            <h4>Created At: {{ tournament.date_time }}</h4>
        </div>
    {% else %}
        <h3>You must <a href="{% url 'account_login' %}">Sign In</a> first</h3>
    {% endif %}

{% endblock %}