.masthead {
    align-items: center;
    background: no-repeat center center;
    background-size: cover;
}

.home-head {
    text-align: center;
    margin-top: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
