#baseBody {
    background-color: #81e7f4;
}

.footer-basic {
    padding: 40px 0;
    background-color: #81e7f4;
    color: #0e0e0e;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.copyright {
    text-align: center
}
